﻿<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>LifeStyle ReWired</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <script src="https://cdn.firebase.com/js/client/1.0.15/firebase.js"></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
  <script type='text/javascript' src='https://cdn.firebase.com/js/simple-login/1.6.0/firebase-simple-login.js'></script>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css" />
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="bower_components/bootstrap-slider/slider.css" rel="stylesheet">
  <link href="bower_components/angularjs-slider/dist/rzslider.css" rel="stylesheet">
  <link href="styles/bootstrap-slider.css" rel="stylesheet">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css({.tmp,app}) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/responsive.css">
  <!-- endbuild -->
</head>
<body ng-app="app">
  <!-- <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container" ng-controller="MenuController">
      <ul class="nav navbar-nav pull-right">
        <li><a ui-sref="users" data-ng-show="(menuViewModel.logged)"><i class="fa fa-envelope fa-lg"></i>Users</a></li>
        <li><a ui-sref="login" data-ng-hide="(menuViewModel.logged)"><i class="fa fa-sun-o fa-lg"></i>Login</a></li>
        <li><a ui-sref="logout" data-ng-show="(menuViewModel.logged)"><i class="fa fa-sun-o fa-lg"></i>Log out</a></li>
      </ul>
    
    </div>
      <h3 class="text-muted">Survey</h3>
  </nav> -->
  	<h3 align="center">Survey</h3>
	<div style="clear:both"></div>
  <!-- Add your site or application content here -->
 <div ui-view></div>
  <!--[if lt IE 9]>
  <script src="bower_components/es5-shim/es5-shim.js"></script>
  <script src="bower_components/json3/lib/json3.min.js"></script>

  <![endif]-->
  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/bootstrap-slider/bootstrap-slider.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/validate/validate.js"></script>
  <script src="js/modernizr.custom.17475.js"></script>
  <script src="js/jquery-ui-1.8.22.min.js"></script>
  <script src="js/jquery.wizard.js"></script>
  <script type="text/javascript" src="js/bootstrap-slider.js"></script>

  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
  

  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/init.js"></script>
  <script src="scripts/services/login-service.js"></script>
  <script src="scripts/services/survey-service.js"></script>
  <script src="scripts/services/home-service.js"></script>
  <script src="scripts/services/category-service.js"></script>
  <script src="scripts/services/question-service.js"></script>
  <script src="scripts/services/survey-results-service.js"></script>

  <script src="scripts/controllers/login-controller.js"></script>
  <script src="scripts/controllers/menu-controller.js"></script>
  <script src="scripts/controllers/logout-controller.js"></script>
  <script src="scripts/controllers/survey-controller.js"></script>
  <script src="scripts/controllers/home-controller.js"></script>
  <script src="scripts/controllers/category-controller.js"></script>

  <script src="directives/validation-summary-directive.js"></script>
  <script src="directives/ng-repeat-directive.js"></script>
  
  <script src="bower_components/angularjs-slider/dist/rzslider.js"></script>

  <script src="scripts/app.js"></script>
  <script src="scripts/helpers.js"></script>
  <!-- endbuild -->
</body>
</html>
