<div >
	<h3 ng-if="isEmptySurvey">
		There are no questions in this survey
	</h3>
	<div ng-if="!isEmptySurvey">
		<div>
			{{currentQuestion}}
		</div>
		<div>
			<ul>
				<li ng-repeat="answer in currentQuestion.anwers">
					<input type="checkbox" name="{{answer.answerName}}check" >
					{{answer.answerName}}
				</li>
			</ul>
			<input type="buton" ng-click="saveAndGoToNextQuestion()">
		</div>
	</div>
</div>