
    <!-- Start Survey container -->


    <div style="color:white; font-weight:bold">
        <div ng-repeat="cat in viewModel.categories" class="row">
			<h3><a ng-href="#/category/{{cat.id}}">{{categoryName}}</a></h3>
		</div>
	</div>
       
