<div class="col-md-offset-3 col-md-6">
    <div class="box">
        <header>
            <h1>Log in</h1>
        </header>
        <section>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputEmail"  class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" data-ng-model="viewModel.teacher.email" id="inputEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control"data-ng-model="viewModel.teacher.password" id="inputPassword" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="button"  ng-click="viewModel.loginTeacher()" class="btn btn-primary">Log in</button>
                    </div>
                </div>
            </form>
        </section>

    </div>
</div>