<section class="container" id="main">

    <!-- Modal -->
  <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">User Info</h4>
        </div>
        <div class="modal-body">
            <form id="userinfo" name="userinfo">
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="fname">First name *:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" required="true" id="fname" placeholder="Enter First Name" ng-model="fname">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="lname">Last name *:</label>
                    <div class="col-sm-10"> 
                      <input type="text" class="form-control" required="true" id="lname" placeholder="Enter Last Name" ng-model="lname">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Email *:</label>
                    <div class="col-sm-10"> 
                      <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" ng-model="email" required="true">
                    </div>
                  </div>
                    <div>
                    {{userinfo.email.$touched}}
                  </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="userinfo.$valid && submit(uid, fname, lname, email)">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  </div>
    <!-- Start Survey container -->
    <div id="survey_container">
        <div id="top-wizard">
            <strong>Progress <span id="location"></span></strong>
            <div id="progressbar"></div>
            <div class="shadow"></div>
        </div> <!-- end top-wizard -->
        <form name="example-1" id="wrapped" >
            <div id="middle-wizard">

                <div ng-show="submitDone">
                    <div class="row"> <h4 class="text-left">{{data[data.length-1].category.postText}}</h4></div>
                    <div class="row"> <h4 class="text-left">Feedback:</h4></div>
                    <div class="row"> <h4 class="text-left">{{feedback2score()}}</h4></div>
                    <button data-toggle="modal" data-target="#myModal" class="btn btn-primary">Complete My Profile for Play</button>
                </div>
                <div name="questions" class="step row" ng-repeat="(key, value) in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" ng-init="count = currentPage*itemsPerPage - 3; category(value.category.categoryName, value.category.questionHeading);" ng-hide="submitDone">

                    <div ng-show="($index + count-1 ===0) || value.category.categoryName != data[$index + count-2].category.categoryName && !showFeedback1()">
                        
                        <div class="row"> <h2>{{value.category.questionHeading}}</h2></div>
                        <div class="row"> <h3 class="text-left">{{value.category.categoryName}}</h3></div>
                        <div class="row"> <h4 class="text-left">{{value.category.preText}}</h4></div>
                    </div>
                    <div class="col-md-10" style="margin-top: 25px;" ng-hide="showFeedback1($index + count-1)">
                        <h4>{{$index + count }}. {{value.question}}</h4>

                        <div style="width:50%">
                          
                          <rzslider 
                             rz-slider-model="value.selectedAnswer"
                             rz-slider-options="slider.options"></rzslider>

                        </div>
                        <br>
                        <br>
                    </div>
                    <br>
                    <!--<div ng-show="(currentPage-1)*itemsPerPage+($index+1) === data.length || value.category.categoryName != data[$index + count].category.categoryName" style="margin-top:20px;" class="col-md-10">
                        <div class="row"> <h4 class="text-left">{{value.category.postText}}</h4></div>
                    </div> -->
                    <div ng-show="!showFeedback1Completed && showFeedback1() && $index+count-1 === (currentPage-1) * itemsPerPage" style="margin-top:20px;" class="col-md-10">
                        <div class="row"> <h4 class="text-left">{{value.category.postText}}</h4></div>
                        <div class="row"> <h4 class="text-left">Feedback:</h4></div>
                        <div class="row"> <h4 class="text-left">{{feedback1score()}}</h4></div>
                        <button ng-click="completeFeedback1()" class="btn btn-primary">Complete My Profile for Play</button>
                    </div> 
                </div>
            </div>
        </form>
            <div id="bottom-wizard" ng-hide="submitDone"> 
                    <button ng-click="startSurvey()" ng-hide="hideButton" class="btn btn-primary">Start Survey</button>
                    <pager  ng-hide="hidePager" total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"></pager>
                    <button ng-show="currentPage == lenth" ng-hide="true" class="btn btn-success"  ng-click="submitDone=!submitDone"
                    >Submit
                    </button>
            </div>
    </div>
</section><!-- end section main container -->