<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Survey';  " ng-controller="SurveyController"> 
	<h1> {{title}} <h1>

	<div style="width: 480px; height: 159px;" ng-hide="question.id == null || hide == 1">
		<h3>{{question.question}}</h3>
			<h4>
		        <div class="radio" ng-repeat="ans in question.answers">
                        <label class="icheck icheck-primary">
                            <input type="radio" value={{ans.id}} name="response" ng-model="$parent.radioValue" >
                            <i></i>{{ans.answerName}}
                        </label>
                </div>
            </h4>
		<button ng-click="previousques()" type="button" class="btn btn-success">Previous</button>
		<button ng-click="nextques(question.id)" type="button" class="btn btn-success" ng-hide="question.id == 6">Next </button> 
		<button ng-click="finish(question.id)" type="button" class="btn btn-success" ng-show="question.id == 6">Finish </button> 
	</div>
	<button ng-click="nextques()" ng-hide="question.id >0" type="button" class="btn btn-success">Start Survey</button>

</div>